@{ ViewBag.Title = "Oops! Error Encountered"; }
<body style="background-color: white">
    <div class="marginFromMenu general-container col-xs-12">
        <div class="col-xs-8 col-sm-offset-3">
            <span style="font-size: 80px;">Ooops! Page not found :(</span>
        </div>
        <div class="col-xs-8 col-sm-offset-3 hidden-xs">
            <img src="../../Content/Images/404.jpg" class="img-responsive" />
        </div>
    </div>
</body>